      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="https://github.com/ldodds/bnb-example-app">About</a></li>
        </ul>
        <h3 class="muted">BNB Demonstrator</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Find Me A Book!</h1>
        <p class="lead">Find a book to read using the British National Bibliography Open Data</p>
        <p class="lead">Enter an ISBN into the search box to find a related book</p>
        
        <form id="find-book" class="form-search">
        	<input id="isbn" class="input-medium search-query" type="text" placeholder="0261102214">
        	<button type="submit" class="btn btn-success">Find</button>
        </form>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>More By The Author</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          <h4>More From Reading Lists</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p></p>
      </div>