      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="https://github.com/ldodds/bnb-example-app">About</a></li>
        </ul>
        <h3 class="muted">BNB Demonstrator</h3>
      </div>

      <hr>

      <div class="heading">
        <h1>Find Me A Book!</h1>
        <p class="lead">Find a book to read using the British National Bibliography Open Data</p>
        <p class="lead">Enter an ISBN into the search box to find a related book</p>
        
        <form id="find" class="form-search">
        	<input id="isbn" class="input-medium search-query" type="text" placeholder="0261102214">
        	<button id="find-book" type="submit" class="btn btn-success">Find</button>
        </form>
        
        <p class="lead" id="title"></p>        
      </div>

      <hr>

      <div class="row-fluid results">
        <div class="span6">
          <h4>More By The Author</h4>
          <div id="author">
          	<p>More books by the same author</p>          	
          </div>
          <ul id="author-results"/>
        </div>

        <div class="span6">
          <h4>More From Reading Lists</h4>
          <div id="related">
          	<p>Related books by series or category</p>
          </div>
		  <ul id="related-results"/>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p></p>
      </div>