body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.container-narrow>hr {
	margin: 30px 0;
}

/* Main heading section */
.heading {
	margin: 60px 0;
	text-align: center;
}

.heading h1 {
	font-size: 72px;
	line-height: 1;
}

/* Results section */
.results {
	margin: 60px 0;
}

.results p+h4 {
	margin-top: 28px;
}